### Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Static files collected by collectstatic
staticfiles/

# Templates
templates/__pycache__/

### Python
*.py[cod]
*$py.class
*.so

# Virtualenv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode / PyCharm / IDE
.idea/
.vscode/

# Build files
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# Type checker
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# pipenv / poetry / pdm
Pipfile.lock
poetry.lock
pdm.lock
.pdm.toml
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# Cython
cython_debug/

# Docs
docs/_build/
site/

# misc
.pybuilder/
target/
.scrapy/
.webassets-cache
.spyderproject
.spyproject
.ropeproject
